<section class="bg-light">
  <div class="container py-5">

    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="text-center text-lg-start">
          <h2 class="fw-bold mb-3">News and Publications</h2>
          <p class="text-muted mb-3">The news about recent activities for needed peoples.</p>
          <a href="#" class="btn btn-outline-primary rounded-0">More News</a>
        </div>
      </div>
      <div class="col-md-3 pb-4">
        <div class="card h-100">
          <img src="https://placehold.co/300x200" class="card-img-top" alt="City Weekend Celebrations">
          <div class="card-body position-relative d-flex flex-column justify-content-between">
                            <span class="text-bg-danger py-1 px-2 position-absolute top-0 translate-middle-y">15 Oct
                                2020</span>
            <div class="my-3">
              <p class="card-text m-0 text-muted">In Government</p>
              <h5 class="card-title">List of City Weekend Celebrations</h5>
            </div>
            <a href="#" class="link-dark text-decoration-none">Continue Reading <i
              class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pb-4">
        <div class="card h-100">
          <img src="https://placehold.co/300x200" class="card-img-top"
               alt="New Australian Economic Culture">
          <div class="card-body position-relative d-flex flex-column justify-content-between">
                            <span class="text-bg-danger py-1 px-2 position-absolute top-0 translate-middle-y">12 Oct
                                2020</span>
            <div class="my-3">
              <p class="card-text m-0 text-muted">In Culture</p>
              <h5 class="card-title">New Australian Economic Culture</h5>
            </div>
            <a href="#" class="link-dark text-decoration-none">Continue Reading <i
              class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pb-4">
        <div class="card h-100">
          <img src="https://placehold.co/300x200" class="card-img-top" alt="Smart City Design Plan 2025">
          <div class="card-body position-relative d-flex flex-column justify-content-between">
                            <span class="text-bg-danger py-1 px-2 position-absolute top-0 translate-middle-y">08 Oct
                                2020</span>
            <div class="my-3">
              <p class="card-text m-0 text-muted">In Development</p>
              <h5 class="card-title">Smart City Design Plan 2025</h5>
            </div>
            <a href="#" class="link-dark text-decoration-none">Continue Reading <i
              class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
