<footer class="bg-dark text-white px-4">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <a href="https://flowbite.com/"
           class="d-flex align-items-center link-light text-decoration-none mb-3">
          <img src="icon.svg" class="me-2" alt="Iziosphere" style="width: 50px">
          <span class="h4 mb-0">Iziosphere</span>
        </a>

        <p>95 FF3, App Street Avenue NSW 96209, Canada</p>
        <p><span class="fw-bold">Opening Hours:</span> Mon - Fri: 8:00 am - 6:00 pm</p>
        <p><span class="fw-bold">Phone:</span> 1800 123 4567</p>
        <p><span class="fw-bold">Email:</span> demo&#64;example.com</p>

      </div>
      <div class="col-md-2 mb-4">
        <h5 class="text-uppercase">Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link p-0" href="https://flowbite.com/">Flowbite</a></li>
          <li class="nav-item"><a class="nav-link p-0" href="https://tailwindcss.com/">Tailwind CSS</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mb-4">
        <h5 class="text-uppercase">Follow us</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link p-0"
                                  href="https://github.com/themesberg/flowbite">Github</a></li>
          <li class="nav-item"><a class="nav-link p-0" href="https://discord.gg/4eeurUVvTy">Discord</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">Newletter</h5>
        <p>Subscribe to our newsletter to get our latest news.</p>

        <div class="input-group input-group-lg mb-3 rounded-0">
          <input type="email" class="form-control rounded-0" placeholder="Enter your email"
                 aria-label="Enter your email" required>
          <button class="btn btn-danger" type="button" id="button-addon2">Subscribe</button>
        </div>

      </div>


    </div>
    <hr>
    <div class="text-center">
      <span class="myclass">Iziosphere &copy; 2025. All Rights Reserved.</span>
    </div>
  </div>
</footer>
