<div class="container py-5">
    <div class="row justify-content-between">
        <div class="col-lg-3 mb-3">
            <h2>Contactez-nous</h2>
            <p>Nous aimons recevoir des nouvelles de nos clients, visiteurs et partenaires. Nous apprécions vraiment que
                vous preniez le temps de nous contacter. Veuillez remplir le formulaire ci-dessous.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between px-0"><strong>Address:</strong> Lyon,
                    Rhône-Alpes, France</li>
                <li class="list-group-item d-flex justify-content-between px-0"><strong>Mail:</strong>
                    contact&#64;iziosphere.fr</li>
            </ul>
            <div class="d-flex gap-3 mt-3">
                <a href="#" class="btn btn-secondary"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-secondary"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="btn btn-secondary"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-8 mb-3">
            <div class="p-4 shadow">
                <h2>Laissez votre message</h2>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom *</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email *</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="col-md-6">
                            <label for="phone" class="form-label">Numéro de téléphone *</label>
                            <input type="tel" class="form-control" id="phone" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Sujet *</label>
                        <input type="text" class="form-control" id="subject" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</div>