<section class="bg-dark py-5 position-relative" style="margin-bottom: 6rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg text-white">
        <h2 class="fw-bold">Explore Online Services & Resource</h2>
        <p>The city government provides a wide range of online services to people who need help.</p>
      </div>

      <div class="col-lg position-relative my-5 my-lg-0">
        <div class="position-absolute top-100 end-0 translate-middle-y translate-lg-none bg-white shadow rounded d-flex overflow-visible"
             style="z-index: 10;">
          <div class="p-4">
            <ul class="list-group list-group-flush mb-0">
              <li class="list-group-item">Parking Permission</li>
              <li class="list-group-item">File a Tax Return</li>
              <li class="list-group-item">Order Birth Certificate</li>
              <li class="list-group-item">Get Building Permission</li>
              <li class="list-group-item">Apply for Driving License</li>
              <li class="list-group-item">Report Pollution</li>
            </ul>
          </div>
          <div class="bg-danger p-4 text-white">
            <ul class="list-group list-group-flush mb-0">
              <li class="list-group-item bg-transparent text-white">Public Service Identity</li>
              <li class="list-group-item bg-transparent text-white">Apply for a City Job</li>
              <li class="list-group-item bg-transparent text-white">Professional Licenses</li>
              <li class="list-group-item bg-transparent text-white">National Planning Framework</li>
              <li class="list-group-item bg-transparent text-white">Apply for Business License</li>
              <li class="list-group-item bg-transparent text-white">Online Court Services</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
