<section class="bg-light" style="margin-bottom: 10rem;">
  <div class="container position-relative">
    <div class="row align-items-center row-gap-3 pt-5">
      <div class="col-md-6 text-md-start text-center">
        <h3 class="h2 text-dark fw-bold">Découvrez nos réalisations, programmes et outils</h3>
      </div>
      <div class="col-md-6 text-md-end text-center">
        <a class="btn btn-dark rounded-0" href="#" aria-label="Explorer nos réalisations">Explorer nos réalisations</a>
      </div>
    </div>
    <div class="row row-gap-5">
      <div class="col-md-4">
        <div class="position-relative top-100" style="transform: translateY(-75%)">
          <a href="#" class="link-dark text-decoration-none stretched-link" aria-label="Service Departments">
            <div class="bg-cover bg-center"
                 style="background-image: url('https://placehold.co/600x400/EEE/31343C'); height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat;"
                 aria-hidden="true">
            </div>
            <div class="position-absolute top-100 w-100 translate-middle-y">
              <div class="bg-white mx-3 shadow p-3 text-center">
                <h5 class="h4">Service Departments</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="position-relative top-100" style="transform: translateY(-75%)">
          <a href="#" class="link-dark text-decoration-none stretched-link" aria-label="City Visitors Guide">
            <div class="bg-cover bg-center"
                 style="background-image: url('https://placehold.co/600x400/EEE/31343C'); height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat;"
                 aria-hidden="true">
            </div>
            <div class="position-absolute top-100 w-100 translate-middle-y">
              <div class="bg-white mx-3 shadow p-3 text-center">
                <h5 class="h4">City Visitors Guide</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="position-relative top-100" style="transform: translateY(-75%)">
          <a href="#" class="link-dark text-decoration-none stretched-link" aria-label="Administrations">
            <div class="bg-cover bg-center"
                 style="background-image: url('https://placehold.co/600x400/EEE/31343C'); height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat;"
                 aria-hidden="true">
            </div>
            <div class="position-absolute top-100 w-100 translate-middle-y">
              <div class="bg-white mx-3 shadow p-3 text-center">
                <h5 class="h4">Administrations</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
