<app-section-2-home></app-section-2-home>

<section class="text-bg-primary py-5">
    <div class="container text-center">
        <div class="row mt-4">
            <div class="col-md">
                <h3 class="display-5">10+</h3>
                <p>Années d'expérience</p>
            </div>
            <div class="col-md">
                <h3 class="display-5">500+</h3>
                <p>Projets réalisés</p>
            </div>
            <div class="col-md">
                <h3 class="display-5">300+</h3>
                <p>Clients satisfaits</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container text-center">
        <h2>Pourquoi nous choisir ?</h2>
        <p>Notre équipe se distingue par son expertise, sa passion pour l'innovation et son engagement envers la réussite de chacun de vos projets numériques.</p>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h4 class="card-title">Expertise et Savoir-Faire</h4>
                        <p>Fort d’une expérience reconnue, nous offrons des solutions digitales de pointe, adaptées aux besoins spécifiques de chaque client.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h4 class="card-title">Accompagnement Personnalisé</h4>
                        <p>Nous vous accompagnons à chaque étape de votre projet, avec une approche collaborative et un suivi personnalisé pour garantir votre satisfaction.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h4 class="card-title">Innovation et Performance</h4>
                        <p>En intégrant les dernières technologies, nous vous assurons des résultats performants et des solutions à la pointe de l'innovation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>