<div class="container py-5">

  <ul class="nav justify-content-center mb-3">
    <li class="nav-item">
      <a class="nav-link border-bottom border-primary border-2" [href]="['/login']" [routerLink]="['/login']">Se connecter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [href]="['/register']" [routerLink]="['/register']">S'inscrire</a>
    </li>
  </ul>


  <form class="col-md-6 mx-auto">
    <div class="mb-3">
      <label for="username" class="form-label">Username or Email <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="username" placeholder="Enter username or email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" required>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rememberMe">
        <label class="form-check-label" for="rememberMe">
          Remember me
        </label>
      </div>
      <a href="#" class="text-decoration-none">Lost your password?</a>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary btn-lg rounded-0">Login</button>
    </div>
  </form>

</div>
