
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow p-3" aria-label="Offcanvas navbar large">
    <div class="container">
      <button class="navbar-toggler border-0 me-3" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Iziosphere</a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar2"
           aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul
            class="navbar-nav justify-content-center flex-grow-1 pe-3 position-absolute position-lg-inherit top-50 start-50 translate-middle translate-lg-none">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chevron-right me-3 d-lg-none"></i>News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-lg d-lg-none d-block" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          <i class="far fa-user"></i>
        </button>
        <button class="btn btn-outline-dark rounded-0 d-none d-lg-block" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
          My Account
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Login</a></li>
          <li><a class="dropdown-item" href="#">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="position-relative"
       style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('header.webp'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container h-100 d-flex flex-column justify-content-center text-white"
         style=" min-height: 100vh;">
      <h1 class="display-1 fw-bold">Welcome to the Local Government Portal</h1>
      <p class="lead">The Most Exciting guide to living, working, visiting and investing business.</p>
      <p>
        <a href="" class="btn btn-danger btn-lg rounded-0">Discover More</a>
      </p>
    </div>
    <div class="position-absolute position-lg-inherit bottom-0 w-100 z-3">

      <div class="container bg-light py-4">
        <div class="row text-center">
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-landmark fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Your Government</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-briefcase fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Jobs and Unemployment</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-industry fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Business and Industry</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-bus fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Roads and Transport</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-tree fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Culture and Recreation</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-balance-scale fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Justice, Safety and the Law</div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>


<section class="text-bg-danger text-center pb-5 translate-lg-none"
         style="padding-top: 6rem; transform: translateY(-25%)">
  <p class="mb-0">The official guide to living, working, visiting and investing in Texas <a href=""
                                                                                            class="btn btn-outline-light rounded-0 ms-2">Let's explore more</a></p>
</section>

<section class="bg-light" style="margin-bottom: 10rem;">
  <div class="container position-relative">
    <div class="row w-100 align-items-center row-gap-3 pt-5">
      <div class="col-md-6 text-md-start text-center">
        <h3 class="h2 text-dark fw-bold">Let's explore local services, programs & initiatives.</h3>
      </div>
      <div class="col-md-6 text-md-end text-center">
        <a class="btn btn-dark rounded-0" href="#">Explore Services</a>
      </div>
    </div>
    <div class="row row-gap-5">
      <div class="col-md-4">
        <div class="position-relative top-100" style="transform: translateY(-75%)">
          <a href="#" class="link-dark text-decoration-none stretched-link">
            <div class="bg-cover bg-center"
                 style="background-image: url('https://placehold.co/600x400/EEE/31343C'); height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat;">
            </div>
            <div class="position-absolute top-100 w-100 translate-middle-y">
              <div class="bg-white mx-3 shadow p-3 text-center">
                <h5 class="h4">Service Departments</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="position-relative top-100" style="transform: translateY(-75%)">
          <a href="#" class="link-dark text-decoration-none stretched-link">
            <div class="bg-cover bg-center"
                 style="background-image: url('https://placehold.co/600x400/EEE/31343C'); height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat;">
            </div>
            <div class="position-absolute top-100 w-100 translate-middle-y">
              <div class="bg-white mx-3 shadow p-3 text-center">
                <h5 class="h4">City Visitors Guide</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="position-relative top-100" style="transform: translateY(-75%)">
          <a href="#" class="link-dark text-decoration-none stretched-link">
            <div class="bg-cover bg-center"
                 style="background-image: url('https://placehold.co/600x400/EEE/31343C'); height: 250px; background-size: cover; background-position: center; background-repeat: no-repeat;">
            </div>
            <div class="position-absolute top-100 w-100 translate-middle-y">
              <div class="bg-white mx-3 shadow p-3 text-center">
                <h5 class="h4">Administrations</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5" style="margin-bottom: 5rem;">
  <div class="container">
    <div class="row align-items-center" style="height: 500px;">
      <div class="col-lg-6 d-flex flex-column gap-3 justify-content-center">
        <h3 class="h2 fw-bold">Meet Ideological leader for youth generation</h3>
        <div>
          <p>Mayor Carnee Simmons is committed to solving problems for town people across the state under
            her
            leadership.</p>
          <p>Expanding access to affordable healthcare, improving skills, respecting working families as
            the
            City's 45th mayor. Mayor Carnee was won in the serve a sixth term on October 7, 2018.</p>
        </div>
        <blockquote class="border-start border-danger ps-3">
          <p class="fs-4">"Stand at the top of a cliff and jump off and build your wings on the way down."
          </p>
          <footer class="blockquote-footer">Carnee Simmons, Mayor</footer>
        </blockquote>
        <div class="d-flex align-items-center">
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <i class="fas fa-play-circle text-danger display-4"></i>
          </a>
          <div class="ms-3">
            <p class="mb-0">Video Intro</p>
            <p class="mb-0">About Our Municipal</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block position-relative h-100">
        <img src="https://placehold.co/300x300/AAA/31343C" alt=""
             class="position-absolute bottom-0 end-0 img-fluid">
        <img src="https://placehold.co/400x400/EEE/31343C" alt=""
             class="position-absolute top-0 start-0 img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-3 py-3">
        <i class="fas fa-running fa-3x text-danger"></i>
        <h3 class="display-4">62k</h3>
        <p class="text-secondary">Total People lived in our city</p>
      </div>
      <div class="col-md-3 py-3">
        <i class="fas fa-map-signs fa-3x text-danger"></i>
        <h3 class="display-4">4.8k</h3>
        <p class="text-secondary">Square kilometres region covers</p>
      </div>
      <div class="col-md-3 py-3">
        <i class="fas fa-tree fa-3x text-danger"></i>
        <h3 class="display-4">32%</h3>
        <p class="text-secondary">Private & domestic garden land</p>
      </div>
      <div class="col-md-3 py-3">
        <i class="fas fa-road fa-3x text-danger"></i>
        <h3 class="display-4">6th</h3>
        <p class="text-secondary">Average Cost of Home Ownership</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container py-5">

    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="text-center text-lg-start">
          <h2 class="fw-bold mb-3">News and Publications</h2>
          <p class="text-muted mb-3">The news about recent activities for needed peoples.</p>
          <a href="#" class="btn btn-outline-primary rounded-0">More News</a>
        </div>
      </div>
      <div class="col-md-3 pb-4">
        <div class="card h-100">
          <img src="https://placehold.co/300x200" class="card-img-top" alt="City Weekend Celebrations">
          <div class="card-body position-relative d-flex flex-column justify-content-between">
                            <span class="text-bg-danger py-1 px-2 position-absolute top-0 translate-middle-y">15 Oct
                                2020</span>
            <div class="my-3">
              <p class="card-text m-0 text-muted">In Government</p>
              <h5 class="card-title">List of City Weekend Celebrations</h5>
            </div>
            <a href="#" class="link-dark text-decoration-none">Continue Reading <i
              class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pb-4">
        <div class="card h-100">
          <img src="https://placehold.co/300x200" class="card-img-top"
               alt="New Australian Economic Culture">
          <div class="card-body position-relative d-flex flex-column justify-content-between">
                            <span class="text-bg-danger py-1 px-2 position-absolute top-0 translate-middle-y">12 Oct
                                2020</span>
            <div class="my-3">
              <p class="card-text m-0 text-muted">In Culture</p>
              <h5 class="card-title">New Australian Economic Culture</h5>
            </div>
            <a href="#" class="link-dark text-decoration-none">Continue Reading <i
              class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pb-4">
        <div class="card h-100">
          <img src="https://placehold.co/300x200" class="card-img-top" alt="Smart City Design Plan 2025">
          <div class="card-body position-relative d-flex flex-column justify-content-between">
                            <span class="text-bg-danger py-1 px-2 position-absolute top-0 translate-middle-y">08 Oct
                                2020</span>
            <div class="my-3">
              <p class="card-text m-0 text-muted">In Development</p>
              <h5 class="card-title">Smart City Design Plan 2025</h5>
            </div>
            <a href="#" class="link-dark text-decoration-none">Continue Reading <i
              class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section class="bg-dark py-5 position-relative" style="margin-bottom: 6rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg text-white">
        <h2 class="fw-bold">Explore Online Services & Resource</h2>
        <p>The city government provides a wide range of online services to people who need help.</p>
      </div>

      <div class="col-lg position-relative my-5 my-lg-0">
        <div class="position-absolute top-100 end-0 translate-middle-y translate-lg-none bg-white shadow rounded d-flex overflow-visible"
             style="z-index: 10;">
          <div class="p-4">
            <ul class="list-group list-group-flush mb-0">
              <li class="list-group-item">Parking Permission</li>
              <li class="list-group-item">File a Tax Return</li>
              <li class="list-group-item">Order Birth Certificate</li>
              <li class="list-group-item">Get Building Permission</li>
              <li class="list-group-item">Apply for Driving License</li>
              <li class="list-group-item">Report Pollution</li>
            </ul>
          </div>
          <div class="bg-danger p-4 text-white">
            <ul class="list-group list-group-flush mb-0">
              <li class="list-group-item bg-transparent text-white">Public Service Identity</li>
              <li class="list-group-item bg-transparent text-white">Apply for a City Job</li>
              <li class="list-group-item bg-transparent text-white">Professional Licenses</li>
              <li class="list-group-item bg-transparent text-white">National Planning Framework</li>
              <li class="list-group-item bg-transparent text-white">Apply for Business License</li>
              <li class="list-group-item bg-transparent text-white">Online Court Services</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>
  <div class="container pt-5 pb-5">
    <div class="text-center mb-5">
      <h2 class="fw-bold">Meet Your City Council</h2>
      <p class="text-muted">The city council holds the responsibility of leading our community towards a
        better future.</p>
    </div>
    <div class="row">
      <!-- Council Member 1 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="https://placehold.co/600x400" class="card-img-top" alt="Cevin Peter">
          <div class="card-body">
            <h5 class="card-title">Cevin Peter</h5>
            <p class="card-text text-danger">City Council President</p>
            <hr class="col-3">
            <p class="text-muted mb-1"><i class="fas fa-envelope"></i> president&#64;citygov.com</p>
            <p class="text-muted"><i class="fas fa-phone"></i> (+91) 800 235 9595</p>
          </div>
        </div>
      </div>
      <!-- Council Member 2 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="https://placehold.co/600x400" class="card-img-top" alt="Carleno Emo">
          <div class="card-body">
            <h5 class="card-title">Carleno Emo</h5>
            <p class="card-text text-danger">City Auditor</p>
            <hr class="col-3">
            <p class="text-muted mb-1"><i class="fas fa-envelope"></i> auditor&#64;citygov.com</p>
            <p class="text-muted"><i class="fas fa-phone"></i> (+91) 800 235 9591</p>
          </div>
        </div>
      </div>
      <!-- Council Member 3 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="https://placehold.co/600x400" class="card-img-top" alt="Robert Peterson">
          <div class="card-body">
            <h5 class="card-title">Robert Peterson</h5>
            <p class="card-text text-danger">Health Director</p>
            <hr class="col-3">
            <p class="text-muted mb-1"><i class="fas fa-envelope"></i> director&#64;citygov.com</p>
            <p class="text-muted"><i class="fas fa-phone"></i> (+91) 800 235 9590</p>
          </div>
        </div>
      </div>
      <!-- Council Member 4 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="https://placehold.co/600x400" class="card-img-top" alt="Donald Trump">
          <div class="card-body">
            <h5 class="card-title">Donald Trump</h5>
            <p class="card-text text-danger">Tax Collector</p>
            <hr class="col-3">
            <p class="text-muted mb-1"><i class="fas fa-envelope"></i> collector&#64;citygov.com</p>
            <p class="text-muted"><i class="fas fa-phone"></i> (+91) 800 235 9593</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-danger py-4">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link link-light" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">Portfolio</a>
        </li>

      </ul>
      <div class="d-flex align-items-center">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i
              class="fab fa-facebook-square text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i class="fab fa-twitter text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i class="fab fa-instagram text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i class="fab fa-linkedin text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i class="fab fa-youtube text-white"></i></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="bg-dark text-white px-4">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <a href="https://flowbite.com/"
           class="d-flex align-items-center link-light text-decoration-none mb-3">
          <img src="icon.svg" class="me-2" alt="Iziosphere" style="width: 50px">
          <span class="h4 mb-0">Iziosphere</span>
        </a>

        <p>95 FF3, App Street Avenue NSW 96209, Canada</p>
        <p><span class="fw-bold">Opening Hours:</span> Mon - Fri: 8:00 am - 6:00 pm</p>
        <p><span class="fw-bold">Phone:</span> 1800 123 4567</p>
        <p><span class="fw-bold">Email:</span> demo&#64;example.com</p>

      </div>
      <div class="col-md-2 mb-4">
        <h5 class="text-uppercase">Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link p-0" href="https://flowbite.com/">Flowbite</a></li>
          <li class="nav-item"><a class="nav-link p-0" href="https://tailwindcss.com/">Tailwind CSS</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mb-4">
        <h5 class="text-uppercase">Follow us</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link p-0"
                                  href="https://github.com/themesberg/flowbite">Github</a></li>
          <li class="nav-item"><a class="nav-link p-0" href="https://discord.gg/4eeurUVvTy">Discord</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">Newletter</h5>
        <p>Subscribe to our newsletter to get our latest news.</p>

        <div class="input-group input-group-lg mb-3 rounded-0">
          <input type="email" class="form-control rounded-0" placeholder="Enter your email"
                 aria-label="Enter your email" required>
          <button class="btn btn-danger" type="button" id="button-addon2">Subscribe</button>
        </div>

      </div>


    </div>
    <hr>
    <div class="text-center">
      <span>Iziosphere &copy; 2025. All Rights Reserved.</span>
    </div>
  </div>
</footer>




<!--<div class="container py-5">-->
<!--  <div class="d-flex align-items-center justify-content-center flex-column">-->
<!--    <h1>Chat avec Mistral</h1>-->
<!--    <textarea class="form-control"-->
<!--      [(ngModel)]="userMessage"-->
<!--      placeholder="Écrivez votre message ici"-->
<!--      rows="4"-->
<!--      cols="50"-->
<!--    ></textarea>-->
<!--    <br/>-->
<!--    <button class="btn btn-primary my-5" (click)="sendMessage()">Envoyer</button>-->
<!--    <br/>-->
<!--    @if (chatResponse) {-->
<!--      <h3>Réponse du modèle :</h3>-->
<!--      <p>{{ chatResponse }}</p>-->
<!--    }-->

<!--    @if(waitingForResponse) {-->
<!--      <div class="waiting">-->
<!--        <p>En attente d'une réponse</p>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--      </div>-->

<!--    }-->

<!--    @if (errorMessage) {-->
<!--      <p style="color: red;">{{ errorMessage }}</p>-->
<!--    }-->
<!--  </div>-->

<!--</div>-->
