<!--section fields here -->
<app-section-1-home></app-section-1-home>

<app-section-2-home></app-section-2-home>

<app-section-3-home></app-section-3-home>

<app-section-4-home></app-section-4-home>

<app-section-5-home></app-section-5-home>

<app-section-6-home></app-section-6-home>

<!--<div class="container py-5">-->
<!--  <div class="d-flex align-items-center justify-content-center flex-column">-->
<!--    <h1>Chat avec Mistral</h1>-->
<!--    <textarea class="form-control"-->
<!--      [(ngModel)]="userMessage"-->
<!--      placeholder="Écrivez votre message ici"-->
<!--      rows="4"-->
<!--      cols="50"-->
<!--    ></textarea>-->
<!--    <br/>-->
<!--    <button class="btn btn-primary my-5" (click)="sendMessage()">Envoyer</button>-->
<!--    <br/>-->
<!--    @if (chatResponse) {-->
<!--      <h3>Réponse du modèle :</h3>-->
<!--      <p>{{ chatResponse }}</p>-->
<!--    }-->

<!--    @if(waitingForResponse) {-->
<!--      <div class="waiting">-->
<!--        <p>En attente d'une réponse</p>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--      </div>-->

<!--    }-->

<!--    @if (errorMessage) {-->
<!--      <p style="color: red;">{{ errorMessage }}</p>-->
<!--    }-->
<!--  </div>-->

<!--</div>-->
