/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root,
[data-bs-theme=light] {
  --bs-primary: #205292;
  --bs-primary-rgb: 32, 82, 146;
  --bs-dark: #191C23;
  --bs-dark-rgb: 25, 28, 35;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #205292;
  --bs-btn-border-color: #205292;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c4a83;
  --bs-btn-hover-border-color: #1a4479;
  --bs-btn-focus-shadow-rgb: 32, 82, 146;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1a4479;
  --bs-btn-active-border-color: #183e70;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #205292;
  --bs-btn-disabled-border-color: #205292;
}

.btn-outline-primary {
  --bs-btn-color: #205292; /* Couleur du texte */
  --bs-btn-border-color: #205292; /* Couleur de la bordure */
  --bs-btn-hover-color: #fff; /* Couleur du texte au survol */
  --bs-btn-hover-bg: #205292; /* Couleur de fond au survol */
  --bs-btn-hover-border-color: #205292; /* Couleur de la bordure au survol */
  --bs-btn-focus-shadow-rgb: 32, 82, 146; /* Ombre de focus */
  --bs-btn-active-color: #fff; /* Couleur du texte lors de l'état actif */
  --bs-btn-active-bg: #1a4479; /* Couleur de fond active */
  --bs-btn-active-border-color: #1a4479; /* Couleur de la bordure active */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); /* Ombre active */
  --bs-btn-disabled-color: #205292; /* Couleur du texte désactivé */
  --bs-btn-disabled-bg: transparent; /* Couleur de fond désactivé */
  --bs-btn-disabled-border-color: #205292; /* Couleur de la bordure désactivée */
  --bs-gradient: none; /* Pas de dégradé */
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-primary);
}

@import "generic-position";