<section style="margin: 10rem 0;">
  <div class="container">
    <div class="text-center">
      <h2 class="fw-bold">Travaillons ensemble !</h2>
      <p class="text-muted">Vous avez un projet ou besoin d'un nouveau design ? Donnez-nous quelques détails et
        laissez-nous vous aider à le concrétiser.</p>
      <a href="#contact-form" class="btn-primary btn-custom btn-lg">Lancez votre projet dès aujourd'hui</a>
    </div>
  </div>
</section>


<div class="scrolling-tools d-none d-md-flex bg-dark">
  <div class="scrolling-tools__track gap-5">
    <!-- Logos des langages et frameworks -->
    <div class="scrolling-tools__item">
      <img src="PHP.svg" alt="PHP">
    </div>
    <div class="scrolling-tools__item">
      <img src="Angular.svg" alt="Angular">
    </div>
    <div class="scrolling-tools__item">
      <img src="React.svg" alt="React">
    </div>
    <div class="scrolling-tools__item">
      <img src="Vue.svg" alt="Vue.js">
    </div>
    <div class="scrolling-tools__item">
      <img src="Laravel.svg" alt="Laravel">
    </div>
    <div class="scrolling-tools__item">
      <img src="Symfony.png" alt="Symfony">
    </div>
    <div class="scrolling-tools__item">
      <img src="Python.svg" alt="Python">
    </div>
    <div class="scrolling-tools__item">
      <img src="Sass.svg" alt="SCSS">
    </div>
    <div class="scrolling-tools__item">
      <img src="JS.png" alt="JavaScript">
    </div>
    <div class="scrolling-tools__item">
      <img src="TS.svg" alt="TypeScript">
    </div>
    <div class="scrolling-tools__item">
      <img src="Docker.png" alt="Docker">
    </div>
    <div class="scrolling-tools__item">
      <img src="Kuber.png" alt="Kubernetes">
    </div>
    <div class="scrolling-tools__item">
      <img src="Linux.svg" alt="Linux">
    </div>
    <div class="scrolling-tools__item">
      <img src="Windows.svg" alt="Windows">
    </div>
    <div class="scrolling-tools__item">
      <img src="Wordpress.webp" alt="WordPress">
    </div>
    <div class="scrolling-tools__item">
      <img src="Presta.png" alt="PrestaShop">
    </div>



    <!-- Répéter les logos pour un défilement continu -->

  </div>
</div>

  <!--    <div class="row">-->
  <!--      &lt;!&ndash; Council Member 1 &ndash;&gt;-->
  <!--      <div class="col-md-3 mb-4">-->
  <!--        <div class="card">-->
  <!--          <img src="https://placehold.co/600x400" class="card-img-top" alt="Cevin Peter">-->
  <!--          <div class="card-body">-->
  <!--            <h5 class="card-title">Cevin Peter</h5>-->
  <!--            <p class="card-text text-primary">City Council President</p>-->
  <!--            <hr class="col-3">-->
  <!--            <p class="text-muted mb-1"><i class="fas fa-envelope"></i> president&#64;citygov.com</p>-->
  <!--            <p class="text-muted"><i class="fas fa-phone"></i> (+91) 800 235 9595</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      &lt;!&ndash; Council Member 2 &ndash;&gt;-->
  <!--      <div class="col-md-3 mb-4">-->
  <!--        <div class="card">-->
  <!--          <img src="https://placehold.co/600x400" class="card-img-top" alt="Carleno Emo">-->
  <!--          <div class="card-body">-->
  <!--            <h5 class="card-title">Carleno Emo</h5>-->
  <!--            <p class="card-text text-primary">City Auditor</p>-->
  <!--            <hr class="col-3">-->
  <!--            <p class="text-muted mb-1"><i class="fas fa-envelope"></i> auditor&#64;citygov.com</p>-->
  <!--            <p class="text-muted"><i class="fas fa-phone"></i> (+91) 800 235 9591</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      &lt;!&ndash; Council Member 3 &ndash;&gt;-->
  <!--      <div class="col-md-3 mb-4">-->
  <!--        <div class="card">-->
  <!--          <img src="https://placehold.co/600x400" class="card-img-top" alt="Robert Peterson">-->
  <!--          <div class="card-body">-->
  <!--            <h5 class="card-title">Robert Peterson</h5>-->
  <!--            <p class="card-text text-primary">Health Director</p>-->
  <!--            <hr class="col-3">-->
  <!--            <p class="text-muted mb-1"><i class="fas fa-envelope"></i> director&#64;citygov.com</p>-->
  <!--            <p class="text-muted"><i class="fas fa-phone"></i> (+91) 800 235 9590</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      &lt;!&ndash; Council Member 4 &ndash;&gt;-->
  <!--      <div class="col-md-3 mb-4">-->
  <!--        <div class="card">-->
  <!--          <img src="https://placehold.co/600x400" class="card-img-top" alt="Donald Trump">-->
  <!--          <div class="card-body">-->
  <!--            <h5 class="card-title">Donald Trump</h5>-->
  <!--            <p class="card-text text-primary">Tax Collector</p>-->
  <!--            <hr class="col-3">-->
  <!--            <p class="text-muted mb-1"><i class="fas fa-envelope"></i> collector&#64;citygov.com</p>-->
  <!--            <p class="text-muted"><i class="fas fa-phone"></i> (+91) 800 235 9593</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

