<section class="bg-danger py-4">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
      <ul class="nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link link-light" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">Portfolio</a>
        </li>

      </ul>
      <div class="d-flex align-items-center">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i
              class="fab fa-facebook-square text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i class="fab fa-twitter text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i class="fab fa-instagram text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i class="fab fa-linkedin text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#"><i class="fab fa-youtube text-white"></i></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
