<section class="bg-primary py-4">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
      <ul class="nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link link-light" href="#" aria-label="Accéder à la page Prestation">Prestation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#" aria-label="Accéder à la page Réalisation">Réalisation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#" aria-label="Accéder à la page À propos">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#" aria-label="Accéder à la page News">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#" aria-label="Accéder à la page Contact">Contact</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link link-light" href="#" aria-label="Lien vers Instagram">
              <i class="fab fa-instagram text-white"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#" aria-label="Lien vers LinkedIn">
              <i class="fab fa-linkedin text-white"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#" aria-label="Lien vers YouTube">
              <i class="fab fa-youtube text-white"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
