<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow p-3" aria-label="Offcanvas navbar large">
    <div class="container">
      <button class="navbar-toggler border-0 me-3" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Iziosphere</a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar2"
           aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul
            class="navbar-nav justify-content-center flex-grow-1 pe-3 position-absolute position-lg-inherit top-50 start-50 translate-middle translate-lg-none">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chevron-right me-3 d-lg-none"></i>News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-lg d-lg-none d-block" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          <i class="far fa-user"></i>
        </button>
        <button class="btn btn-outline-dark rounded-0 d-none d-lg-block" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
          My Account
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Login</a></li>
          <li><a class="dropdown-item" href="#">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="position-relative"
       style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('header.webp'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container h-100 d-flex flex-column justify-content-center text-white"
         style=" min-height: 100vh;">
      <h1 class="display-1 fw-bold">Welcome to the Local Government Portal</h1>
      <p class="lead">The Most Exciting guide to living, working, visiting and investing business.</p>
      <p>
        <a href="" class="btn btn-danger btn-lg rounded-0">Discover More</a>
      </p>
    </div>
    <div class="position-absolute position-lg-inherit bottom-0 w-100 z-3">

      <div class="container bg-light py-4">
        <div class="row text-center">
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-landmark fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Your Government</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-briefcase fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Jobs and Unemployment</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-industry fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Business and Industry</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-bus fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Roads and Transport</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-tree fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Culture and Recreation</div>
            </a>
          </div>
          <div class="col-6 col-md-2 py-3">
            <a href="#" class="link-dark text-decoration-none">
              <i class="fas fa-balance-scale fa-2x text-danger"></i>
              <div class="mt-2 fw-semibold">Justice, Safety and the Law</div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
<section class="text-bg-danger text-center pb-5 translate-lg-none"
         style="padding-top: 6rem; transform: translateY(-25%)">
  <p class="mb-0">The official guide to living, working, visiting and investing in Texas <a href=""
                                                                                            class="btn btn-outline-light rounded-0 ms-2">Let's explore more</a></p>
</section>
