<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow p-3" aria-label="Offcanvas navbar large">
    <div class="container">
      <button aria-label="burger-menu" class="navbar-toggler border-0 me-3" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#" aria-label="Homepage"> <img src="icon.svg" class="me-2" alt="Iziosphere"
                                                                   style="width: 50px">
        Iziosphere</a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar2"
           aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul
            class="navbar-nav justify-content-center flex-grow-1 pe-3 position-absolute position-lg-inherit top-50 start-50 translate-middle translate-lg-none">
            <li class="nav-item">
              <a class="nav-link" href="#" aria-label="Go to Home"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" aria-label="Go to Page"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" aria-label="Go to Departments"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" aria-label="Go to Events"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" aria-label="Go to Link"><i class="fas fa-chevron-right me-3 d-lg-none"></i>Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" aria-label="Go to News"><i class="fas fa-chevron-right me-3 d-lg-none"></i>News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" aria-label="Go to Portfolio"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" aria-label="Go to Contact"><i
                class="fas fa-chevron-right me-3 d-lg-none"></i>Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <button aria-label="profile" class="btn btn-lg d-lg-none d-block" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          <i class="far fa-user"></i>
        </button>
        <button class="btn btn-outline-dark rounded-0 d-none d-lg-block" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
          My Account
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#" aria-label="Login">Login</a></li>
          <li><a class="dropdown-item" href="#" aria-label="Register">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="position-relative"
       style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('header.webp'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container h-100 d-flex flex-column justify-content-center text-white"
         style="min-height: 100vh;">
      <div class="text-center text-md-start">

        <h1 class="display-1 fw-bold">La maîtrise digitale au service de vos ambitions</h1>
        <p class="lead">Des solutions innovantes pour propulser votre réussite en ligne</p>
        <p>
          <a href="" class="btn btn-danger btn-lg rounded-0 text-center" aria-label="Discover our services">Découvrir
            nos services</a>
        </p>
      </div>
    </div>
    <div class="position-absolute position-lg-inherit bottom-0 w-100 z-3">

      <div class="container">
        <div class="row text-center">
          @for (category of categories; track category) {
            <div class="col-6 col-md-2 py-4 service bg-light">

              <a href="{{ category.link }}" class="link-dark text-decoration-none h-100"
                 [attr.aria-label]="category.title">
                <div class="h-50">
                  <i class="fas {{ category.icon }} fa-2x text-danger"></i>
                </div>
                <div class="mt-2 fw-semibold h-50 col-10 mx-auto">{{ category.title }}</div>
              </a>
            </div>
          }
        </div>
      </div>


    </div>
  </div>


</header>
<section class="text-bg-danger text-center pb-5 translate-lg-none"
         style="padding-top: 6rem; transform: translateY(-25%)">
  <p class="mb-0">Explorez nos solutions complètes pour booster votre activité ! <a href=""
                                                                                    class="btn btn-outline-light rounded-0 ms-2"
                                                                                    aria-label="Discover more">Découvrir
    plus</a></p>
</section>
