<!--<footer class="bg-dark text-white px-4">-->
<!--  <div class="container py-4">-->
<!--    <div class="row pt-2">-->
<!--      <div class="col-md-4 mb-4">-->
<!--        <a href="https://flowbite.com/"-->
<!--           class="d-flex align-items-center link-light text-decoration-none mb-3">-->
<!--          <img src="icon.svg" class="me-2" alt="Iziosphere" style="width: 50px">-->
<!--          <span class="h3 mb-0">Iziosphere</span>-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="col-md-2 mb-4">-->
<!--        <h5 class="text-uppercase">RGPD</h5>-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item"><a class="nav-link p-0" href="https://flowbite.com/">Flowbite</a></li>-->
<!--          <li class="nav-item"><a class="nav-link p-0" href="https://tailwindcss.com/">Tailwind CSS</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-md-2 mb-4">-->
<!--        <h5 class="text-uppercase">CGV</h5>-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item"><a class="nav-link p-0" href="https://github.com/themesberg/flowbite">Github</a></li>-->
<!--          <li class="nav-item"><a class="nav-link p-0" href="https://discord.gg/4eeurUVvTy">Discord</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-md-4 mb-4">-->
<!--        <h5 class="text-uppercase">Newsletter</h5>-->
<!--        <p>Subscribe to our newsletter to get our latest news.</p>-->
<!--        <div class="input-group input-group-lg mb-3 rounded-0">-->
<!--          <input type="email" class="form-control rounded-0" placeholder="Enter your email"-->
<!--                 aria-label="Enter your email" required>-->
<!--          <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="col-md-4 mb-4 pt-2">-->
<!--        <h5 class="text-uppercase">Mentions légales</h5>-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item mb-2">-->
<!--            <strong>Nom de l'entreprise :</strong> Iziosphere-->
<!--          </li>-->
<!--          <li class="nav-item mb-2">-->
<!--            <strong>Adresse :</strong> 123 Rue Exemple, 75000 Paris-->
<!--          </li>-->
<!--          <li class="nav-item mb-2">-->
<!--            <strong>SIRET :</strong> 123 456 789 00010-->
<!--          </li>-->
<!--          <li class="nav-item mb-2">-->
<!--            <strong>Numéro de TVA :</strong> FR12345678910-->
<!--          </li>-->
<!--          <li class="nav-item mb-2">-->
<!--            <strong>Directeur de publication :</strong> Iziosphere-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <strong>Hébergeur :</strong> OVH, 2 rue Kellermann, 59100 Roubaix-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-md-2 mb-4 pt-2">-->
<!--        <h5 class="text-uppercase">RGPD</h5>-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item"><a class="nav-link p-0" href="/politique-de-confidentialite">Politique de-->
<!--            confidentialité</a></li>-->
<!--          <li class="nav-item"><a class="nav-link p-0" href="/gestion-des-cookies">Gestion des cookies</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-md-2 mb-4 pt-2">-->
<!--        <h5 class="text-uppercase">Conditions</h5>-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item"><a class="nav-link p-0" href="/conditions-generales-de-vente">CGV</a></li>-->
<!--          <li class="nav-item"><a class="nav-link p-0" href="/conditions-generales-d-utilisation">CGU</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-md-3 mb-4 pt-2">-->
<!--        <h5 class="text-uppercase">Contact</h5>-->
<!--        <p>Email : <a href="mailto:contact@iziosphere.com">contact&#64;iziosphere.com</a></p>-->
<!--        <p>Téléphone : +33 1 23 45 67 89</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div class="text-center">-->
<!--      <span class="">&copy; 2025 Iziosphere. Tous droits réservés. Reproduction interdite sans autorisation.</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<footer class="text-bg-dark py-4">
  <div class="container">
    <ul class="nav justify-content-center py-2" aria-label="Liens de bas de page">
      <li class="nav-item"><a href="#" class="nav-link link-light px-2" aria-label="Mentions légales">Mentions légales</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-light px-2" aria-label="Politique de confidentialité">Politique de confidentialité</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-light px-2" aria-label="Plan du Site">Plan du Site</a></li>
    </ul>
    <hr class="m-0">
    <p class="mb-0 text-center py-2">&copy; 2024 Company, Inc</p>
  </div>
</footer>
